/*
font-families: 'Anonymous Pro';
               'Inconsolata';
*/

#board {
  margin-top: 10px;
}

body {
  background-image:
    linear-gradient(
      to right,
      #E7E2DD,
      #F4F1EE 50%,
      #E7E2DD
      );
}

button {
  position: center;
  font-family: 'Anonymous Pro';
  font-weight: lighter;
}

.btn {
  background-color: #BBBBBB;
}

h1 {
  font-family: 'Anonymous Pro';
  font-weight: bold;
  font-size: 72pt;
  color: #207674;
}

h2 {
  font-family: 'Inconsolata';
  font-size: 32pt;
}

.navbar {
  background-color: #AAAAAA;
}

.modal {
  font-family: 'Inconsolata';
  margin: auto;
}

.box {
  border: 1px solid black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik One', sans-serif;  font-size: 46pt;
  font-weight: bold;
}

.blue {
  color: #678CA3;
}

.red {
  color: #891414;
}
